<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twice</title>
    <link rel="stylesheet" href="css/buy.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="icon" href="img/movie-solid-24.png" type="image/x-icon">
</head>
<body>

    <% if (isLoggedIn) { %>
        <header>
            <a href="" class="logo">
                <i class='bx bxs-movie'></i> Twice
            </a>
            <div class="bx bx-menu" id="menu-icon"></div>
        
            <ul class="navbar">
                <li><a href="/#home" class="home-active">Home</a></li>
                <li><a href="/#movies">Movies</a></li>
                <li><a href="/#coming">Coming Soon</a></li>
                <li><a href="/#free">Free Movies</a></li>
                <div class="search-container">
                    <form action="/buy" method="get">
                        <% if (movieId) { %>
                            <input type="hidden" name="movieId" value="<%= movieId %>">
                        <% } %>
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class='bx bx-search'></i></button>
                    </form>
        
                    <% if (searchResults.length > 0) { %>
                        <div class="search_results">
                            <% searchResults.forEach(result => { %>
                                <div class="search_information">
                                    <% if (isLoggedIn && iscomingsoon) { %>
                                        <a href="/comingsoon?movieId=<%= result._id %>"><img src="<%= result.poster %>" alt="<%= result.name %>"></a>
                                    <% } else if (isLoggedIn && (moviesBought.includes(result._id.toString()) || userSubs)) { %>
                                        <a href="/watch?movieId=<%= result._id %>"><img src="<%= result.poster %>" alt="<%= result.name %>"></a>
                                    <% } else { %>
                                        <a href="/buy?movieId=<%= result._id %>"><img src="<%= result.poster %>" alt="<%= result.name %>"></a>
                                    <% } %>
                                    <div>
                                        <h1><%= result.name %></h1>
                                        <h2><%= result.genre %></h2>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    <% } else { %>
                        <div class="search_information" style="display: none;"></div>
                    <% } %>
                </div>
            </ul>
            <% if (isadmin) { %>
                <a href="/admin" class="btn">Admin</a>
                <% } %>
            <a href="/logout" class="btn">Logout</a>
        </header>
        

    <% } else { %>
        <header>
            <a href="" class="logo">
                <i class='bx bxs-movie'></i> Twice
            </a>
            <div class="bx bx-menu" id="menu-icon"></div>
        
            <ul class="navbar">
                <li><a href="/#home" class="home-active">Home</a></li>
                <li><a href="/#movies">Movies</a></li>
                <li><a href="/#coming">Coming Soon</a></li>
                <li><a href="/#free">Free Movies</a></li>
                <div class="search-container">
                    <form action="/buy" method="get">
                        <% if (movieId) { %>
                            <input type="hidden" name="movieId" value="<%= movieId %>">
                        <% } %>
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class='bx bx-search'></i></button>
                    </form>
        
                    <% if (searchResults.length > 0) { %>
                        <div class="search_results">
                            <% searchResults.forEach(result => { %>
                                <div class="search_information">
                                    <% if (isLoggedIn && iscomingsoon) { %>
                                        <a href="/comingsoon?movieId=<%= result._id %>"><img src="<%= result.poster %>" alt="<%= result.name %>"></a>
                                    <% } else if (isLoggedIn && (moviesBought.includes(result._id.toString()) || userSubs)) { %>
                                        <a href="/watch?movieId=<%= result._id %>"><img src="<%= result.poster %>" alt="<%= result.name %>"></a>
                                    <% } else { %>
                                        <a href="/buy?movieId=<%= result._id %>"><img src="<%= result.poster %>" alt="<%= result.name %>"></a>
                                    <% } %>
                                    <div>
                                        <h1><%= result.name %></h1>
                                        <h2><%= result.genre %></h2>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    <% } else { %>
                        <div class="search_information" style="display: none;"></div> 
                    <% } %>
                </div>
            </ul>
            <a href="/login" class="btn">Log In</a>
        </header>

    <% } %>
      
    <% if (selectedMovie) { %>
    <section class="movie-banner">
        <div class="m-banner-img">
            <img src="img/<%= selectedMovie.posterls %>">
        </div>

        <div class="banner-container">

            <div class="title-container">

                <div class="title-top">

                    <div class="movie-title">
                        <h1><%= selectedMovie.name %></h1>
                    </div>

                    <div class="more-about-movie">
                        <span class="quality"><%= selectedMovie.quality %></span>
                        <div class="rating">
                            <%= selectedMovie.rating %> <i class='bx bxs-star' > </i> <!-- <i class='bx bxs-star' ></i> <i class='bx bxs-star' ></i> <i class='bx bxs-star-half' ></i> <i class='bx bx-star' ></i> -->
                        </div>
                        <span><%= selectedMovie.releasedate %></span>
                        <span><%= selectedMovie.duration %></span>
                    </div>

                    <div class="language">
                        <span><%= selectedMovie.language %></span>
                    </div>

                </div>

                <div class="title-bottom">
                    <div class="category">
                        <strong>Category</strong> <br>
                        <a href="#"><%= selectedMovie.genre %></a>
                    </div>
                    <div class="buttons-container">
                        <a href="<%= selectedMovie.trailer %>" class="watch-btn">Watch Trailer</a>
                        <a href="/payment?movieId=<%= selectedMovie._id %>" class="btn">Buy Now</a>
                    </div>
                </div>
                    
            </div>
            
        </div>
    </section>  

    <section class="movie-details">
        <strong><%= selectedMovie.name %></strong>
        <p><%= selectedMovie.description %></p>
    </section>
    <% } %>
    <!-- footer -->

    
    <%- include('layouts/footer.ejs') %> 
</body>
</html>