<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twice</title>
    <link rel="stylesheet" href="css/comingsoon.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="icon" href="img/movie-solid-24.png" type="image/x-icon">
</head>
<body>
    
    <% if (isLoggedIn) { %>
        <%- include('layouts/header_logout.ejs') %> 
    <% } else { %>
        <%- include('layouts/header_login.ejs') %> 
    <% } %>
      

    <% if (selectedMovie) { %>
    <section class="movie-banner">
        <div class="m-banner-img">
            <img src="img/<%= selectedMovie.posterls %>">
        </div>

        <div class="banner-container">

            <div class="title-container">

                <div class="title-top">

                    <div class="movie-title">
                        <h1><%= selectedMovie.name %></h1>
                    </div>

                    <div class="more-about-movie">
                        <span class="quality"><%= selectedMovie.quality %></span>
                        <div class="rating">
                            <%= selectedMovie.rating %> <i class='bx bxs-star' > </i> <!-- <i class='bx bxs-star' ></i> <i class='bx bxs-star' ></i> <i class='bx bxs-star-half' ></i> <i class='bx bx-star' ></i> -->
                        </div>
                        <span><%= selectedMovie.releasedate %></span>
                        <span><%= selectedMovie.duration %></span>
                    </div>

                    <div class="language">
                        <span><%= selectedMovie.language %></span>
                    </div>

                </div>

                <div class="title-bottom">
                    <div class="category">
                        <strong>Category</strong> <br>
                        <a href="#"><%= selectedMovie.genre %></a>
                    </div>
                    <a href="<%= selectedMovie.trailer %>" class="watch-btn">Watch Trailer</a>
                </div>

            </div>
            
        </div>
    </section>  


    <section class="movie-details">
        <strong><%= selectedMovie.name %></strong>
        <p><%= selectedMovie.description %></p>

    </section>
    <% } %>
    <!-- footer -->

    
    <%- include('layouts/footer.ejs') %> 
</body>
</html>