<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twice</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="icon" href="img/movie-solid-24.png" type="image/x-icon">
</head>
<body>

    <% if (isLoggedIn) { %>
        <header>
            <a href="" class="logo">
                <i class='bx bxs-movie'></i> Twice
            </a>
            <div class="bx bx-menu" id="menu-icon"></div>
        
            <ul class="navbar">
                <li><a href="/#home" class="home-active">Home</a></li>
                <li><a href="/#movies">Movies</a></li>
                <li><a href="/#coming">Coming Soon</a></li>
                <li><a href="/#free">Free Movies</a></li>
                <div class="search-container">
                    <form action="/" method="get">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class='bx bx-search'></i></button>
                    </form>
        
                    <% if (searchResults.length > 0) { %>
                        <div class="search_results">
                            <% searchResults.forEach(result => { %>
                                <div class="search_information">
                                    <% if (isLoggedIn && iscomingsoon) { %>
                                        <a href="/comingsoon?movieId=<%= result._id %>"><img src="<%= result.poster %>" alt="<%= result.name %>"></a>
                                    <% } else if (isLoggedIn && (moviesBought.includes(result._id.toString()) || userSubs)) { %>
                                        <a href="/watch?movieId=<%= result._id %>"><img src="<%= result.poster %>" alt="<%= result.name %>"></a>
                                    <% } else { %>
                                        <a href="/buy?movieId=<%= result._id %>"><img src="<%= result.poster %>" alt="<%= result.name %>"></a>
                                    <% } %>
                                    <div>
                                        <h1><%= result.name %></h1>
                                        <h2><%= result.genre %></h2>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    <% } else { %>
                        <div class="search_information" style="display: none;"></div>
                    <% } %>
                </div>
            </ul>
            <% if (isadmin) { %>
                <a href="/admin" class="btn">Admin</a>
                <% } %>
            <a href="/logout" class="btn">Logout</a>
        </header>
        

    <% } else { %>
        <header>
            <a href="" class="logo">
                <i class='bx bxs-movie'></i> Twice
            </a>
            <div class="bx bx-menu" id="menu-icon"></div>
        
            <ul class="navbar">
                <li><a href="/#home" class="home-active">Home</a></li>
                <li><a href="/#movies">Movies</a></li>
                <li><a href="/#coming">Coming Soon</a></li>
                <li><a href="/#free">Free Movies</a></li>
                <div class="search-container">
                    <form action="/" method="get">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class='bx bx-search'></i></button>
                    </form>
        
                    <% if (searchResults.length > 0) { %>
                        <div class="search_results">
                            <% searchResults.forEach(result => { %>
                                <div class="search_information">
                                    <% if (isLoggedIn && iscomingsoon) { %>
                                        <a href="/comingsoon?movieId=<%= result._id %>"><img src="<%= result.poster %>" alt="<%= result.name %>"></a>
                                    <% } else if (isLoggedIn && (moviesBought.includes(result._id.toString()) || userSubs)) { %>
                                        <a href="/watch?movieId=<%= result._id %>"><img src="<%= result.poster %>" alt="<%= result.name %>"></a>
                                    <% } else { %>
                                        <a href="/buy?movieId=<%= result._id %>"><img src="<%= result.poster %>" alt="<%= result.name %>"></a>
                                    <% } %>
                                    <div>
                                        <h1><%= result.name %></h1>
                                        <h2><%= result.genre %></h2>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    <% } else { %>
                        <div class="search_information" style="display: none;"></div>
                    <% } %>
                </div>
            </ul>
            <a href="/login" class="btn">Log In</a>
        </header>

    <% } %>
 
<!-- iklan -->
  
<% if (userSubs) { %>
    <div hidden>
        <details >
        <summary>Subscribe <i class='bx bx-shopping-bag' style='color:#ffffff'></i></summary>
        <div >
            <p>Embark on a captivating journey through Korean entertainment with our premier streaming website. Dive into heart-wrenching romance, pulse-pounding action, and rich culture. Subscribe now for endless drama at your fingertips.</p>
            <a class="subbtn" href="/paymentsubs"> Buy Now</a>
        </div>
    </details>
    </div>
    
<% } else { %>
    <div>
        <details>
        <summary>Subscribe <i class='bx bx-shopping-bag' style='color:#ffffff'></i></summary>
        <div>
            <p>Embark on a captivating journey through Korean entertainment with our premier streaming website. Dive into heart-wrenching romance, pulse-pounding action, and rich culture. Subscribe now for endless drama at your fingertips.</p>
            <a class="subbtn" href="/paymentsubs"> Buy Now</a>
        </div>
    </details>
    </div>

<% } %>

    
<!-- iklan done -->
   

    <section class="home swiper" id="home">
        <div class="swiper-wrapper">

            <% for (const movie of mainMovies) { %>
                <div class="swiper-slide container">
                    <img src="img/<%= movie.posterls %>" alt="<%= movie.name %>">
                    <div class="home-text">
                        <span><%= movie.genre %></span>
                        <h1><%= movie.name %></h1>
                        <% if (isLoggedIn && (moviesBought.includes(movie._id.toString()) || userSubs)) { %>
                            <a href="/watch?movieId=<%= movie._id %>" class="btn"> Watch now</a>
                        <% } else { %>
                            <a href="/buy?movieId=<%= movie._id %>" class="btn"> Buy now</a>
                        <% } %>
                        <a href="<%= movie.trailer %>" class="play">
                            <i class='bx bx-play' ></i>
                        </a>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="swiper-pagination"></div>
    </section>
<!-- ontrending -->
    <section class="movies" id="movies">
        <h2 class="heading"> On Trending</h2>
        <div class="movies-container">
            
            <% for (const movie of movies) { %>
                <div class="box">
                    <div class="box-img">
                        <% if (isLoggedIn && (moviesBought.includes(movie._id.toString()) || userSubs)) { %>
                            <a href="/watch?movieId=<%= movie._id %>"><img src="<%= movie.poster %>" alt="<%= movie.name %>"></a>
                        <% } else { %>
                            <a href="/buy?movieId=<%= movie._id %>"><img src="<%= movie.poster %>" alt="<%= movie.name %>"></a>
                        <% } %>
                    </div>
                    <h3><%= movie.name %></h3>
                    <span><%= movie.rating %> | <%= movie.genre %></span>
                    <% if (movie.harga > 0) { %>
                        <% if (isLoggedIn && (moviesBought.includes(movie._id.toString()) || userSubs)) { %>
                            <a href="/watch?movieId=<%= movie._id %>"></a>
                        <% } else { %>
                            <h4>$<%= movie.harga %></h4>
                        <% } %>
                    <% } %>
                </div>
            <% } %>
        </div>
    </section>
<!-- coming soon -->
    <section class="coming" id="coming">
        <h2 class="heading">Coming soon</h2>
        <div class="coming-container swiper">
            <div class="swiper-wrapper">

                <% for (const movie of comingSoon) { %>
                    <div class="swiper-slide box">
                      <div class="box-img">
                        <a href="/comingsoon?movieId=<%= movie._id %>"><img src="<%= movie.poster %>" alt="<%= movie.name %>"></a>
                      </div>
                      <h3><%= movie.name %></h3>
                      <span><%= movie.rating %> | <%= movie.genre %></span>
                      <% if (movie.harga > 0) { %>  <h4>$<%= movie.harga %></h4>
                      <% } %>
                    </div>
                  <% } %>
            </div>
            
    </section>


    <!-- free -->
    <section class="free" id="free">
        <h2 class="heading">Free Movies</h2>
        <div class="free-container swiper">
            <div class="swiper-wrapper">

                <% for (const movie of freeMovies) { %>
                    <div class="swiper-slide box">
                      <div class="box-img">
                        <a href="/watch?movieId=<%= movie._id %>"><img src="<%= movie.poster %>" alt="<%= movie.name %>"></a>
                      </div>
                      <h3><%= movie.name %></h3>
                      <span><%= movie.rating %> Season | <%= movie.genre %></span>
                      <h4>$<%= movie.harga %></h4>
                    </div>
                  <% } %>
            </div>
            
    </section>
    <!-- free done -->

    <!-- footer -->
    <%- include('layouts/footer.ejs') %> 
    
    
</body>
</html>