<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twice</title>
    <link rel="stylesheet" href="css/payment.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="icon" href="img/movie-solid-24.png" type="image/x-icon">
</head>
<body>

    <% if (isLoggedIn) { %>
        <header>
            <a href="" class="logo">
                <i class='bx bxs-movie'></i> Twice
            </a>
            <div class="bx bx-menu" id="menu-icon"></div>
        
            <ul class="navbar">
                <li><a href="/#home" class="home-active">Home</a></li>
                <li><a href="/#movies">Movies</a></li>
                <li><a href="/#coming">Coming Soon</a></li>
                <li><a href="/#free">Free Movies</a></li>
                <div class="search-container">
                    <form action="/payment" method="get">
                        <% if (movieId) { %>
                            <input type="hidden" name="movieId" value="<%= movieId %>">
                        <% } %>
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class='bx bx-search'></i></button>
                    </form>
        
                    <% if (searchResults.length > 0) { %>
                        <div class="search_results">
                            <% searchResults.forEach(result => { %>
                                <div class="search_information">
                                    <% if (isLoggedIn && iscomingsoon) { %>
                                        <a href="/comingsoon?movieId=<%= result._id %>"><img src="<%= result.poster %>" alt="<%= result.name %>"></a>
                                    <% } else if (isLoggedIn && (moviesBought.includes(result._id.toString()) || userSubs)) { %>
                                        <a href="/watch?movieId=<%= result._id %>"><img src="<%= result.poster %>" alt="<%= result.name %>"></a>
                                    <% } else { %>
                                        <a href="/buy?movieId=<%= result._id %>"><img src="<%= result.poster %>" alt="<%= result.name %>"></a>
                                    <% } %>
                                    <div>
                                        <h1><%= result.name %></h1>
                                        <h2><%= result.genre %></h2>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    <% } else { %>
                        <div class="search_information" style="display: none;"></div>
                    <% } %>
                </div>
            </ul>
            <% if (isadmin) { %>
                <a href="/admin" class="btn">Admin</a>
                <% } %>
                <details data-userid="<%= userId %>"  class="dropdown">
                    <summary role="button">
                      <a class="button" > <i class='bx bx-user' ></i> Profile</a>
                    </summary>
                    <form action="/updateprofile" method="POST">
                        <input type="hidden" name="userId" value="<%= userId %>">
                        <ul>
                            <li> 
                                <% if (messages.error) { %>
                                  <strong class="error" style=" color: red;"><%= messages.error %> </strong>
                              <% } %> 
                            </li>
                            <li><a href="#" >Email: <%= user.email.length > 20 ? user.email.substring(0, 20) + '...' : user.email %> </a></li>
                            <li><input type="text" id="name" name="name" placeholder="Nama"></li>
                            <li><input type="password" name="password" placeholder="Password Sekarang"></li>
                            <li><input type="password" name="passwordbaru" placeholder="Password Baru"></li>
                            <li><input type="password" name="passwordconfirm" placeholder="Confirm Password"></li>
                            <li><a href="#">Uang: $<%= user.uang %> </a></li>
                            <li><a href="#">Subscribe: <%= diffDays %> Days </a></li>
                            <li><button type="submit" >Update Profile</button></li>
                            <li><a href="/logout">Logout</a></li>
                            
                        </ul>
                      </form>
                      
                </details>
        </header>
        

    <% } else { %>
        <header>
            <a href="" class="logo">
                <i class='bx bxs-movie'></i> Twice
            </a>
            <div class="bx bx-menu" id="menu-icon"></div>
        
            <ul class="navbar">
                <li><a href="/#home" class="home-active">Home</a></li>
                <li><a href="/#movies">Movies</a></li>
                <li><a href="/#coming">Coming Soon</a></li>
                <li><a href="/#free">Free Movies</a></li>
                <div class="search-container">
                    <form action="/payment" method="get">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class='bx bx-search'></i></button>
                    </form>
        
                    <% if (searchResults.length > 0) { %>
                        <div class="search_results">
                            <% searchResults.forEach(result => { %>
                                <div class="search_information">
                                    <% if (isLoggedIn && iscomingsoon) { %>
                                        <a href="/comingsoon?movieId=<%= result._id %>"><img src="<%= result.poster %>" alt="<%= result.name %>"></a>
                                    <% } else if (isLoggedIn && (moviesBought.includes(result._id.toString()) || userSubs)) { %>
                                        <a href="/watch?movieId=<%= result._id %>"><img src="<%= result.poster %>" alt="<%= result.name %>"></a>
                                    <% } else { %>
                                        <a href="/buy?movieId=<%= result._id %>"><img src="<%= result.poster %>" alt="<%= result.name %>"></a>
                                    <% } %>
                                    <div>
                                        <h1><%= result.name %></h1>
                                        <h2><%= result.genre %></h2>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    <% } else { %>
                        <div class="search_information" style="display: none;"></div>
                    <% } %>
                </div>
            </ul>
            <a href="/login" class="btn">Log In</a>
        </header>

    <% } %>

    <% if (selectedMovie) { %>
    <div class="mainscreen">
          <div class="card">
            <div class="leftside">
              <img
                src="<%= selectedMovie.poster %>"
                class="product"
              />
            </div>
            <div class="rightside">
                
                <form action="/checkout?movieId=<%= selectedMovie._id %>" method="post">
                <div class="title">
                    <h1>CheckOut</h1>
                    <div class="money">
                        <strong>Your Money</strong> <br>
                        <span>$<%= userMoney %></span>
                    </div>
                </div>
                <div class="title2">
                    <h2>Information</h2>
                    <p><%= selectedMovie.name %></p>
                </div>
                
                    <div class="more-about-movie">
                        <span><%= selectedMovie.quality %></span>
                        <div class="rating">
                            <%= selectedMovie.rating %> <i class='bx bxs-star' > </i> <!-- <i class='bx bxs-star' ></i> <i class='bx bxs-star' ></i> <i class='bx bxs-star-half' ></i> <i class='bx bx-star' ></i> -->
                        </div>
                        <span><%= selectedMovie.releasedate %></span>
                        <span><%= selectedMovie.duration %></span>
                    </div>

                    <div class="language">
                        <span><%= selectedMovie.language %></span>
                    </div>


                    <div class="category">
                        <strong>Category</strong> <br>
                        <a href="#"><%= selectedMovie.genre %></a>
                    </div>
                    <div class="price">
                        <strong>Price</strong> <br>
                        <a href="#"> $<%= selectedMovie.harga %></a>
                    </div>
                    <div class="movie-details">
                        <p><%= selectedMovie.description %></p>
                    </div>
                    <button type="submit" class="button">CheckOut</button>
                </form>
            </div>
          </div>
        </div>    
        <% } %>

        <%- include('layouts/footer.ejs') %> 
</body>
</html>