<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twice</title>
    <link rel="stylesheet" href="css/watch.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="icon" href="img/movie-solid-24.png" type="image/x-icon">
</head>
<body>

    
    <% if (isLoggedIn) { %>
        <%- include('layouts/header_logout.ejs') %> 
    <% } else { %>
        <%- include('layouts/header_login.ejs') %> 
    <% } %>
      

    <% if (selectedMovie) { %>
    <section class="movie-banner">
        <div class="m-banner-img">
            <img src="img/<%= selectedMovie.posterls %>">
        </div>

        <div class="banner-container">

            <div class="title-container">

                <div class="title-top">

                    <div class="movie-title">
                        <h1><%= selectedMovie.name %></h1>
                    </div>

                    <div class="more-about-movie">
                        <span class="quality"><%= selectedMovie.quality %></span>
                        <div class="rating">
                            <%= selectedMovie.rating %> <i class='bx bxs-star' > </i> <!-- <i class='bx bxs-star' ></i> <i class='bx bxs-star' ></i> <i class='bx bxs-star-half' ></i> <i class='bx bx-star' ></i> -->
                        </div>
                        <span><%= selectedMovie.releasedate %></span>
                        <span><%= selectedMovie.duration %></span>
                    </div>

                    <div class="language">
                        <span><%= selectedMovie.language %></span>
                    </div>

                </div>

                <div class="title-bottom">
                    <div class="category">
                        <strong>Category</strong> <br>
                        <a href="#"><%= selectedMovie.genre %></a>
                    </div>
                    <a href="<%= selectedMovie.trailer %>" class="watch-btn">Watch Trailer</a>
                    
                </div>

            </div>

            <div class="play-btn-container">
                <div class="play-btn">
                    <a href="javascript:void">
                        <i class='bx bx-play' ></i>
                    </a>

                </div>
            </div>

            <div id="play" class="play">
                <a href="javascript:void" class="close-movie">
                    <i class='bx bx-x' ></i>
                </a>
                <div class="play-movie">
                    <video id="m-video" controls>
                        <% if (season && episode && selectedMovie.seasons[season - 1] >= episode) { %>
                            <source src="video/S<%= season %>E<%= episode %>_<%= selectedMovie.name %>.mp4" type="video/mp4">
                        <% } else { %>
                            <source src="video/<%= selectedMovie.video %>" type="video/mp4">
                        <% } %>
                    </video>
                </div>
            </div>
            
        </div>
    </section>  


    <section class="movie-details">
        <strong><%= selectedMovie.name %></strong>
        <p><%= selectedMovie.description %></p>
    </section>

    <section class="screenshots">
        <strong>Screenshots</strong>
        <div class="screen-s-container">
            <img src="img/<%= selectedMovie.ss1 %>">
            <img src="img/<%= selectedMovie.ss2 %>">
            <img src="img/<%= selectedMovie.ss3 %>">
            <img src="img/<%= selectedMovie.ss4 %>">
        </div>
    </section>
    <% for(let i = 0; i < selectedMovie.seasons.length; i++) { %>
        <section class="list-episode">
            <strong id="seasonButton<%= i + 1 %>" onclick="toggleDropdown('episodeList<%= i + 1 %>')">Season <%= i + 1 %></strong>
            <div class="list">
                <ul class="dropdown-content" id="episodeList<%= i + 1 %>">
                    <% for(let j = 1; j <= selectedMovie.seasons[i]; j++) { %>
                        <li><a href="/watch?movieId=<%= selectedMovie._id %>&season=<%= i + 1 %>&episode=<%= j %>"><%= selectedMovie.name %> Season <%= i + 1 %> Episode <%= j %></a></li>
                    <% } %>
                </ul>
            </div>
        </section>
    <% } %>
    
    

    
    <% } %>


    <!-- footer -->


    <%- include('layouts/footer.ejs') %> 
</body>
</html>